<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="generator" content="Hugo 0.27.1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Melvano - Home</title>

    
    <link href="css/bootstrap-theme.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab&family=Cabin:600&family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href="font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    
    <link href="css/HPstyles.css" rel="stylesheet">
    <link href="css/hugofont.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.default.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/melvano.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>

  <body>


    
    <div id="top" class="header">
      <div class="vert-text">
        <a href="#intro"><img src="img/melvano.png" class="logo"></a>
        <div class="siteTitle" style="font-size: 40px; color: white;">Melvano</div>
        <div class="description" style="color: white;">Come learn with us!</div>
        <div class="buttonbox">
       
            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> <span class="network-name">facebook</span></a>
        
            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i> <span class="network-name">twitter</span></a>
        
            <a href="https://linkedin.com" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i> <span class="network-name">linkedin</span></a>
        
        </div>
      </div>
    </div>
    


      <center>
        <br><br>
        <h2>Download the app!<br>Start learning today!</h2><br>
        <img src="img/googleplay.png" style="height: 50px">
        <br><br><br><br>
      </center>

  

    <div id="main">

    
    <div class="content-section-a" style="background-color: #3f51b5">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <br><br>
                    <div class="clearfix"></div>
                    <h2>Your everyday study partner</h2>
                    <p class="lead"><p><br><br>
Check-in to your study topic <br><br>
Get doubts cleared instantly by top tutors, <sup>24</sup>&frasl;<sub>7</sub><br><br></p>

<p><a href=""><img src="img/googleplay.png" style="height: 50px"></a></p>
</p>
                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/1.gif" alt="" style="width: 322px">
                </div>
                
            </div>

        </div>
        

    </div>
    
    
    



      
      
    

    <div id="main">

    

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <br><br>
                    <div class="clearfix"></div>
                    <h2>Check-in</h2>
                    <p><br><br>
Tell Melvano what you are<br>
studying right now</p>

                </div>
                
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/2.png" alt="" style="width: 322px">
                </div>
                
            </div>

        </div>
        

    </div>
    
    



      
      
    

    <div id="main">

    
    <div class="content-section-a" style="background-color: #3f51b5">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <br><br>
                    <div class="clearfix"></div>
                    <h2>Get doubts cleared</h2>
                    <p class="lead"><p><br><br>
Instantly, by top tutors<br>
from IITs, NITs, BITS &amp; AIIMS</p>
</p>
                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/3.png" alt="" style="width: 322px">
                </div>
                
            </div>

        </div>
        

    </div>
    
    
    



      
      
    

    <div id="main">

    

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <br><br>
                    <div class="clearfix"></div>
                    <h2>Practice questions</h2>
                    <p><br><br>
Thousands of curated questions<br>
with instant feedback and stats</p>

                </div>
                
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/4.png" alt="" style="width: 322px">
                </div>
                
            </div>

        </div>
        

    </div>
    
    



      
      
    

    <div id="main">

    
    <div class="content-section-a" style="background-color: #3f51b5">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <br><br>
                    <div class="clearfix"></div>
                    <h2>Share with friends</h2>
                    <p class="lead"><p><br><br>
Liked a practice question?<br>
Share it instantly!</p>
</p>
                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/5.png" alt="" style="width: 322px">
                </div>
                
            </div>

        </div>
        

    </div>
    
    
    



      
      
    

    </div>

        
        <div id="action" class="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <br>
                <img src="img/tutor.png">
                <h1 style="padding-bottom:.5em;">Want to be a tutor?</h1>
                <a href="https://github.com/spf13/hugo/releases" class="btn btn-lg btn-primary">REGISTER AS TUTOR</a>
                <br>
              </div>
            </div>
          </div>
        </div>
        


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Follow us on:-</h3>
       
            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>
        
            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i></a>
        
            <a href="https://linkedin.com" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i></a>
        
        </ul>
        <hr>
        <h3>Copyright &copy; Melvano</h3>
      </div>
    </div>
  </div>
</footer>




<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script>
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {

    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});
$('.owl-carousel').owlCarousel({
loop:true,
margin:10,
nav:true,
autoplay:true,
autoplayHoverPause:true,
autoplayTimeout:3000,
responsive:{
    0:{
        items:1
    },
    1000:{
        items:3
    },
}
})
</script>


</body>

</html>

