<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>
<%- include navbar.ejs%>


 <div >
 	<div class="row">
 		<div class="col-lg-12">
             <div class="content-header parallax_1">
 				<div class="logo"><img style="width: 50%;" src="img/melvanocircle.png"></div>
 				<h1>Your everyday study partner</h1>
 				<h2>Come Learn With Us !</h2>
 				<a href="https://facebook.com" style="text-shadow: none;" class="btn btn-default btn-lg"><i class="fa fa-facebook-official" aria-hidden="true"></i> facebook </a>
 				 <a href="https://twitter.com" class="btn btn-default btn-lg" style="text-shadow: none;"><i class="fa fa-twitter-square" aria-hidden="true"></i> twitter </a>
 				<a href="https://linkedin.com" class="btn btn-default btn-lg" style="text-shadow: none;"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin </a>
 			</div>
 		</div>
 	</div>
 </div>	
  <div class="content-a">
 	<div class="container">
 	 <div class="row">
       <div class="col-md-6">
       	<div class="content-a-1">
       		Check-in to your study topic <h3>Get doubts cleared instantly by top tutors, 24/7</h3>


       	</div>
       </div>
       <div class="col-md-6"><img class="first_phone img-responsive center-block" src="img/first_image.gif"></div>
 	 </div>
 	</div>
  </div>
 	<div class="content-b">
 	 <div class="container">
 	 <div class="row">
       
          <div class="col-md-6"><img class="img-responsive center-block" src="img/second_phone.png"></div>
 	   <div class="col-md-6">
       	<div class="content-b-2">
       		For Classes 8-12 School Exams, JEE, NEET, CET, IBPS Bank PO 
       		<h3>Tell HashLearn what you are studying right now</h3>
       	</div>
       </div>
      </div> 
      </div>
 	</div>
 	<div class="content-a">
 	 <div class="container">
 	 <div class="row">
       <div class="col-md-6">
       	<div class="content-a-1">
       		Get Doubts Cleared
       		<h3>Instantly, by top tutors from IITs, NITs, BITS & AIIMS</h3>
       	</div>
       </div>
       <div class="col-md-6"><img class="img-responsive center-block" src="img/third_phone.png"></div>
 	 </div>
 	</div>
   </div>
 	<div class="content-b">
 	 <div class="container">
 	 <div class="row">
       
          <div class="col-md-6"><img class="img-responsive center-block" src="img/fourth_phone.png"></div>
 	   <div class="col-md-6">
       	<div class="content-b-2">
       		Practice Questions
       		<h3>Thousands of curated questions with instant feedback and stats</h3>
       	</div>
       </div>
      </div> 
      </div>

 	</div>
 <div class="content-a">
   <div class="container">
 	 <div class="row">
       <div class="col-md-6">
       	<div class="content-a-1">
       		Share with friends
            <h3>Liked a practice question? Share it instantly!</h3>
       	</div>
       </div>
       <div class="col-md-6"><img class="img-responsive center-block" src="img/fifth_phone.png"></div>
 	 </div>
 	</div>
   </div>

  <div class="content-c parallax_2">
  <div class="container">
   <div class="row">
   	<div class="col-md-10 col-md-offset-1 text-center">
   		<img style="max-width: 30%;" src="img/tutor.png" style="padding-top: 5%">
   		<h4>Want to be a tutor?</h4>
   		<a href="#register-as-tutor" class="btn btn-lg btn-primary">REGISTER AS TUTOR</a>
     </div>
   	</div>
   </div>
  </div>
<div class="content-d">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        Follow us on:-
          <div>
            <a href="https://facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>

            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i></a>

            <a href="https://linkedin.com" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i></a>
          </div>


        <hr>
        Copyright © Melvano
      </div>
    </div>
  </div>
 </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>	